# Ignore les fichiers système qui peuvent être créés par le système d'exploitation
.DS_Store
Thumbs.db

# Ignore les fichiers de configuration
*.log
*.conf

# Ignore les fichiers générés par l'environnement de développement
/node_modules
/dist
/.vscode

# Ignore les fichiers spécifiques à un éditeur (par exemple, VS Code)
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
